html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}
#calcu {
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
}
#display {
  margin: 10px;
  width: 86%;
  font-size: 25px;
}
.c-button{
  width: 50px;
  height: 40px;
  margin: 3px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}